PRODUCTS_MS_PORT=3000

PRODUCTS_MS_DATABASE_NAME=products_db
PRODUCTS_MS_DATABASE_USERNAME=postgres
PRODUCTS_MS_DATABASE_PASSWORD=postgres
PRODUCTS_MS_DATABASE_HOST=localhost
PRODUCTS_MS_DATABASE_PORT=5432
