# NestJS App Port
PRODUCTS_MICROSERVICE_PORT=3001
# Database Configuration
PRODUCTS_MICROSERVICE_DBHOST=localhost
PRODUCTS_MICROSERVICE_DBPORT=5432
PRODUCTS_MICROSERVICE_DBNAME=products_db
PRODUCTS_MICROSERVICE_USERNAME=micro_user
PRODUCTS_MICROSERVICE_PASSWORD=micro_password
# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret