# NestJS App Port
PRODUCTS_MICROSERVICE_PORT=3001

# Database Configuration
PRODUCTS_MICROSERVICE_DBHOST=localhost
PRODUCTS_MICROSERVICE_DBPORT=5432
PRODUCTS_MICROSERVICE_DBNAME=products_db
PRODUCTS_MICROSERVICE_USERNAME=micro_user
PRODUCTS_MICROSERVICE_PASSWORD=micro_password

# Cloudinary Configuration
# https://console.cloudinary.com/app/c-ae4b527d3fb5b144337978083ba942/home/dashboard
CLOUDINARY_CLOUD_NAME=
# https://console.cloudinary.com/app/c-ae4b527d3fb5b144337978083ba942/settings/api-keys
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=