# NestJS App Port
ORDERS_MICROSERVICE_PORT=3002

# Database Configuration
ORDERS_MICROSERVICE_DBHOST=localhost
ORDERS_MICROSERVICE_DBPORT=5433
ORDERS_MICROSERVICE_DBNAME=orders_db
ORDERS_MICROSERVICE_USERNAME=micro_user
ORDERS_MICROSERVICE_PASSWORD=micro_password
